{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Delete Image</h2>
        <p>Are you sure you want to delete the image "{{ image_instance.title }}"?</p>
        {% if image_instance.image %}
        <div class="mb-3">
            <img src="{{ image_instance.image.url }}" alt="{{ image_instance.title }}" style="width:200px" height="200px">
        </div>
        {% endif %}
        <form action="{% url 'deleteimage' image_instance.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'imagelist' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
